---
import FlashcardGame from '../components/FlashcardGame.astro';
import '../styles/styles.css'; // Ajusta la ruta según la ubicación de tu archivo
import '../styles/tailwind.css'; // Ajusta la ruta según donde esté tu archivo CSS
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Cards</title>
</head>
<body>
    <FlashcardGame/>
</body>
</html>